<div class="background">
  <div class="top">
    <div class="site-description">
      <h1 class="top-Title">ジョブズ.com</h1>
      <p>「ジョブズ.com」は、求人サイトです。<br>求人を探したり、簡単に求人を出すことができます。</p>
      <%= link_to '早速はじめる', new_user_session_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>