<h1>求人一覧</h1>

<div class="f-container">
    <% @offers.each do |offer| %>
      <div class="card" style="width: 25rem">
        <div class="card-body">
            <div class="offer-title">
              <h3><%= offer.title %></h3>
            </div>
            <div class="employer-name">
              <h5><%= offer.name %></h5>
            </div>
            <div class="card-text">
              <p><%= simple_format(offer.body) %></p>
            </div>
              <a href="#" class="btn btn-warning index-btn">応募する！</a>
              <%= link_to '詳細を見る', offer_path(offer.id), class: "btn btn-primary index-btn" %>
        </div>
      </div>
    <% end %>
</div>