/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "offers";
@import "favorites";
@import "home";
@import "sessions";
@import "users";
@import "registrations";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

html{
  height: 100%;
  font-size: 97%;
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

body{
  height: 100%;
}

main{
  height: 100%;
}

h1{
  margin: 30px;
}

a{
  color: #FFF;
}

* {
  float: none;
  position: static;
}
 
img {
  max-width: 100%;
  height: auto;
}

/* header */
.nav-link{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navar-brand{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.7rem;
}

/* footer */
.footer {
  height: 5%;
  color: #FFF;
  background-color: #444;
  padding: 5px;
  text-align: center;
}

.alert-success{
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.alert-danger{
  font-weight: bold;
  margin: 0px 10px;
  padding: 10px;
}