/* index.html */

.container{
  padding: 30px 10px;
}

.offersindexTitle{
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 20px;
}

.search{
  margin: 10px;
  padding: 10px;
  background-color: #FFFACD;
  border-radius: 8px;
}

.f-container{
    display: flex;
    flex-wrap:wrap;
    overflow: hidden;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tags_searchForm {
  display: inline-block;
}

.tag_select {
  display: inline-block;
}

.search_form{
  padding: 30px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


.card{
    box-shadow: 3px 3px 3px 3px #DDDDDD;
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
}

.card-text{
    margin: 10px;
    overflow: hidden;
    width: 100%;
    
    p{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
}

.index-btn{
  display: flex;
  justify-content: space-around;
}

.offer-title{
    font-family: 'メイリオ';
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    color: #0066FF;
}

.employer-name{
    font-family: 'メイリオ';
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 5px;
}

.name-image{
  display: flex;
  justify-content: space-between;
}

.page_entries_info{
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}



/* new.html */

.new-offers-Title{
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.offers-form{
  width: 80%;
  padding : 20px;
  border: 2px solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.offers-entry{
  padding: 20px;
  
  .form-group{
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-align: left;
  }
}

.form-title{
  margin-top: 20px;
}

.new-btn{
  width: 25%;
  font-weight: bold;
}



/* my_offers.html */

.my_offers-Title{
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* show.html */
.offers-show-Title{
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.offers-show{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.show-body{
  border: 0.8px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}


/* edit.html */

.edit-Title{
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}