.loginForm{
  width: 36%;
  padding : 25px;
  margin-bottom: 20px;
  border: 0.8px solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginTitle{
  font-weight: bold;
  margin-bottom: 15px;
}